.board {
  grid-area: board;
  display: grid;
  grid-template: 0.2fr repeat(20, 1fr) / repeat(10, 1fr);
  height: 100%;
  padding: 1px;
  border: solid 1px #0003;
}

.cell {
  transition: background-color ease 0.2s;
}

.color-1 {
  background-color: #fbdb43;
}

.color-2 {
  background-color: #37bcec;
}

.color-3 {
  background-color: #93338f;
}

.color-4 {
  background-color: #e98e30;
}

.color-5 {
  background-color: #1c76bb;
}

.color-6 {
  background-color: #7dba50;
}

.color-7 {
  background-color: #cc2828;
}
